.tour a{
    display: block;
    margin-top: 15px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid darkgray;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

.tour a:hover{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border: solid darkgray;
    border-width: 2px;
}

.tour p{
    font-size: 40px;
    margin-bottom: 5px;
}

.tour img{
    width: 300px;
    height: 200px;
}

.tour{
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

